<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Hand Control</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="title">Controller for the Robotic Hand</h1>

    <div class="content">
        <div class="keyboard">
            <div class="row" style="gap: 10px;">
                <div class="container" onclick="sendCommand('1')">1</div>
                <div class="container" onclick="sendCommand('2')">2</div>
                <div class="container" onclick="sendCommand('3')">3</div>
                <div class="container" onclick="sendCommand('4')">4</div>
                <div class="container" onclick="sendCommand('5')">5</div>
                <div class="container" onclick="sendCommand('6')">6</div>
                <div class="container" onclick="sendCommand('7')">7</div>
                <div class="container" onclick="sendCommand('8')">8</div>
                <div class="container" onclick="sendCommand('9')">9</div>
                <div class="container" onclick="sendCommand('0')">0</div>
            </div>
    
            <div class="row">
                <div class="container" onclick="sendCommand('Q')">Q</div>
                <div class="container" onclick="sendCommand('W')">W</div>
                <div class="container" onclick="sendCommand('E')">E</div>
                <div class="container" onclick="sendCommand('R')">R</div>
                <div class="container" onclick="sendCommand('T')">T</div>
                <div class="container" onclick="sendCommand('Y')">Y</div>
                <div class="container" onclick="sendCommand('U')">U</div>
                <div class="container" onclick="sendCommand('I')">I</div>
                <div class="container" onclick="sendCommand('O')">O</div>
                <div class="container" onclick="sendCommand('P')">P</div>
            </div>
    
            <div class="row">
                <div class="container" onclick="sendCommand('A')">A</div>
                <div class="container" onclick="sendCommand('S')">S</div>
                <div class="container" onclick="sendCommand('D')">D</div>
                <div class="container" onclick="sendCommand('F')">F</div>
                <div class="container" onclick="sendCommand('G')">G</div>
                <div class="container" onclick="sendCommand('H')">H</div>
                <div class="container" onclick="sendCommand('J')">J</div>
                <div class="container" onclick="sendCommand('K')">K</div>
                <div class="container" onclick="sendCommand('L')">L</div>
            </div>
    
            <div class="row">
                <div class="container" onclick="sendCommand('Z')">Z</div>
                <div class="container" onclick="sendCommand('X')">X</div>
                <div class="container" onclick="sendCommand('C')">C</div>
                <div class="container" onclick="sendCommand('V')">V</div>
                <div class="container" onclick="sendCommand('B')">B</div>
                <div class="container" onclick="sendCommand('N')">N</div>
                <div class="container" onclick="sendCommand('M')">M</div>
            </div>
    
        </div>

        <div class="phrases">
            <div class="phrases-container">“Hello!”</div>
            <div class="phrases-container">“What's your name?”</div>
            <div class="phrases-container">“How are you?”</div>
            <div class="phrases-container">“bring”</div>
            <div class="phrases-container">“come”</div>
            <div class="phrases-container">“I love you”</div>
            <div class="phrases-container">“Yes”</div>
            <div class="phrases-container">“No”</div>
            <div class="phrases-container">“Fight”</div>
            <div class="phrases-container">“Why?”</div>
        </div>

    </div>

    <script>
        async function sendCommand(command) {
            try {
                const response = await fetch('/control', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ command: command })
                });

                const result = await response.json();
                console.log(result);  
            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>
    

    
</body>
</html>
